body {
  font-family: Helvetica Neue;
  font-size: 20px;
}

.title {
  margin: 40px 0 0 0;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
}

.form-container {
  text-align: center;
  margin: 40px auto;
}

.time-display {
  margin: 40px auto;
  text-align: center;
}

.time {
  color: #2c3e50;
  font-size: 6em;
  font-weight: 200;
}

.time-label {
  font-size: 2em;
  font-weight: 100;
}

.time-input {
  font-size: 5em;
  font-weight: 200;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}


.warning {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes pulse {
  0% {
    color: #c0392b;
  }

  100% {
    color: black;
  }
}

.done {
  color: #e74c3c;
}

.btn-group,
.edit-time-btn-group {
  text-align: center;
}

.btn {
  font-size: 1.25em;
  font-weight: 200;
  padding: 10px 20px;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  opacity: .5;
  margin: 20px;
}

.btn:hover {
  opacity: 1;
}

.btn:disabled {
  opacity: .25;
}